### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

/.stfolder/
/.stignore
/3-selenium获取街景并进一步筛选街景图像/semantic-segmentation-pytorch-master.zip
/5-ArcgisPro工程/.backups/
/5-ArcgisPro工程/GpMessages/
/5-ArcgisPro工程/ImportLog/
/5-ArcgisPro工程/Index/
/5-ArcgisPro工程/Stockholm.gdb/
/5-ArcgisPro工程/.pyHistory
/5-ArcgisPro工程/Amsterdam_road.gpkg

/5-ArcgisPro工程/阿姆斯特丹全市范围建筑年代预测准确度空间分布图.jpg
/5-ArcgisPro工程/阿姆斯特丹市中心建筑年代预测结果空间分布.jpg
/5-ArcgisPro工程/阿姆斯特丹建筑足迹.jpg
/3-selenium获取街景并进一步筛选街景图像/semantic-segmentation-pytorch-master/notebooks/README.md
/3-selenium获取街景并进一步筛选街景图像/semantic-segmentation-pytorch-master/README.md
/assets/CAM对比图.psd
/assets/covers/
/1-论文阅读和解析/assets/
/2-获取数据集/assets/
/3-selenium获取街景并进一步筛选街景图像/assets/
/4.1-对建筑年代进行深度学习训练和预测/assets/
/4.2-对建筑风格进行深度学习训练和预测/assets/
/5-ArcgisPro工程/建筑风格和年代深度学习.aprx
/5-ArcgisPro工程/建筑风格和年代深度学习.atbx
/5-ArcgisPro工程/建筑风格和年代深度学习.gdb/
/5-ArcgisPro工程/通过深度学习了解建筑风格和年代.ppkx
/README (cos-img-links).assets/
/3-selenium获取街景并进一步筛选街景图像/ckpt/
/4.1-对建筑年代进行深度学习训练和预测/models/weights_6/
